.row
%br
%table.table-striped.table-bordered#reports_table
  %thead
    %tr
      %th Screen
      %th Time
      %th Reserved Seats
      %th Selected Seats
      %th Available Seats
  %tbody
    - @reports.each do |report|
      %tr
        %td= report[:screen_name]
        %td= report[:start_time]
        %td= report[:reserved]
        %td= report[:selected]
        %td= report[:available]

:javascript
  $("#reports_table").DataTable()
